body {
	margin: 0;
}

.viewer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.frames {
	position: relative;
	max-height: 100%;
	overflow: hidden;
}

.frame_image {
	width: 100%;
	height: 100%;
}

.canvas {
	position: absolute;
}

.shape {
	fill: #9a4797;
	opacity: .3;
	transition: opacity .2s;
}

.shape:hover {
	opacity: .6;
}

.shape.floor.t1 {
	fill: #800B94;
}

.shape.floor.t2 {
	fill: #2345A5;
}

.shape.floor.t3 {
	fill: #2B723D;
}

.shape.floor.t4 {
	fill: #FAE101;
}

.shape.floor.t5 {
	fill: #F38F28;
}

.shape.floor.t6 {
	fill: #D82D2D;
}
